{% extends 'layout.twig' %}

{% block body %}
  <!DOCTYPE html>
<html lang="en">
<body>
            <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content" style="margin-left: 0px!important">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">{{ department }} Stajları</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <h2> SAYFA BULUNAMADI </h2>
                        <!-- Page-body start -->
                    </div>
                </div>
                <!-- Main-body start -->

                <div id="styleSelector">

                </div>
            </div>
        </div>
    </div>
</div>
                            <!-- Main-body end -->
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {# </div> #}
</body>

</html>
{% endblock %}
